<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tsysinfo.billing"
    android:versionCode="1"
    android:versionName="75.0">

    <application
        android:name=".LogCat"
        android:allowBackup="true"
        android:icon="@drawable/invoice"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/CustomActionBarTheme">
        <activity android:name=".ViewExpenses"></activity>

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.tsysinfo.billing.HomePageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- <receiver android:name=".MyReceiver" /> -->
        <!--
        <receiver android:name=".OfflineBroadcast">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".SyncService"
            android:enabled="true" />
        -->
        <!--
            <service
            android:name=".UpdateService"
            android:enabled="true" />
        -->
        <activity
            android:name=".LoginActivity"
            android:icon="@android:color/transparent"
            android:label="" />
        <activity android:name=".SetIPActivity" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".ProductsActivity"
            android:icon="@android:color/transparent"
            android:label="Products"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".CustomerActivity"
            android:icon="@android:color/transparent"
            android:label="Customers" />
        <activity
            android:name=".OrderActivity"
            android:icon="@android:color/transparent"
            android:label="Order"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".UNOrderActivity"
            android:icon="@android:color/transparent"
            android:label="Order"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".BillingActivity"
            android:icon="@android:color/transparent"
            android:label="Billing" />
        <activity
            android:name=".CartActivity"
            android:icon="@android:color/transparent"
            android:label="Cart"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UNCartActivity"
            android:icon="@android:color/transparent"
            android:label="Cart"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CaAc"
            android:icon="@android:color/transparent"
            android:label="" />
        <activity
            android:name=".DeliveryActivity"
            android:icon="@android:color/transparent"
            android:label="Cart" />
        <activity
            android:name=".AddCustomerActivityNew"
            android:label="New Cust" />
        <activity
            android:name=".ReturnActivity"
            android:icon="@android:color/transparent"
            android:label="Return"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RetAct"
            android:icon="@android:color/transparent"
            android:label="Return" />
        <activity
            android:name=".ReceiptActivity"
            android:icon="@android:color/transparent"
            android:label="Receipt" />
        <activity
            android:name=".outActivity"
            android:icon="@android:color/transparent"
            android:label="OutStanding" />
        <activity
            android:name=".OutCustmerActivity"
            android:icon="@android:color/transparent"
            android:label="OutStanding" />
        <activity
            android:name=".PaymentActivity"
            android:icon="@android:color/transparent"
            android:label="Payment" />
        <activity
            android:name=".BillPayment"
            android:icon="@android:color/transparent"
            android:label="Bill Payment" />
        <activity
            android:name=".BranchActivity"
            android:icon="@android:color/transparent"
            android:label="" />
        <activity
            android:name=".MapActivity"
            android:icon="@android:color/transparent"
            android:label="" />
        <activity
            android:name=".AddCustomerActivity"
            android:icon="@android:color/transparent"
            android:label="Customer" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:icon="@android:color/transparent"
            android:label="" />
        <activity
            android:name=".Map1"
            android:icon="@android:color/transparent"
            android:label="" />
        <activity
            android:name=".FeedbackActivity"
            android:icon="@android:color/transparent"
            android:label="Feedback" />
        <activity
            android:name=".HelpActivity"
            android:icon="@android:color/transparent"
            android:label="Help" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <activity
            android:name=".CustVisitActivity"
            android:icon="@android:color/transparent"
            android:label="Cust Visit" />
        <activity android:name=".DeviceListActivity" />

        <activity
            android:name=".ReturnInvoice"
            android:icon="@android:color/transparent"
            android:label="" />
        <!--
            <service
            android:name=".GpsService"
            android:enabled="true"
            android:exported="true"></service>
        -->
        <activity
            android:name=".BarcodeScannerActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".BarcodePrintActivity" />
        <activity
            android:name=".barcodes.CustomViewFinderScannerActivity"
            android:label="@string/custom_view_finder_scanner_activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".barcodes.FullScannerActivity"
            android:label="@string/scanner_activity"
            android:screenOrientation="landscape"
            android:theme="@style/AppOverlayTheme"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".barcodes.FullScannerFragmentActivity"
            android:label="@string/scanner_fragment_activity"
            android:theme="@style/AppOverlayTheme"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity android:name=".FinishActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme1"></activity>
        <activity android:name=".PermissionActivityActivity" />
        <activity android:name=".OrderListActivity" />
        <activity android:name=".OrderDetailsActivity" />
        <activity android:name=".ZoomImageViewActivity" />
        <activity android:name=".TownActivity" /> <!-- <activity android:name=".UncheduledOrderActivity" /> -->
        <activity
            android:name=".GeoTagUpdatesActivity"
            android:icon="@android:color/transparent"
            android:label="Geotag Update" />
        <activity
            android:name=".CustomerVisiteActivity"
            android:icon="@android:color/transparent"
            android:label="Customer Visit" />
        <activity
            android:name=".DashBoardActivity"
            android:icon="@android:color/transparent"
            android:label="DashBoard" />
        <activity
            android:name=".ChequeInHandActivity"
            android:icon="@android:color/transparent"
            android:label="ChequeInHand" />
        <activity android:name=".ExpenseActivity" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCk9_Tw4i2t-VYhonbeB0vZk1Eu_2UQYvw" />
        <receiver android:name=".AlarmReceiver" />
        <receiver android:name=".LocationReceiver" />
    </application>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="info.devexchanges.googlelocation.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="24" />

</manifest>